body {
  margin: 0;
  font-family: "Potta One", cursive;
  color: white;
  user-select: none;
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  gap: 0.5rem;
  padding: 0 1rem;
}

.title {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.credit {
  font-size: 0.75rem;
}

.description {
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
}

.notice {
  font-size: 1rem;
}

.button {
  border: none;
  font-weight: bold;
  font-family: "Potta One", cursive;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: black;
  background-color: white;
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

#timer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
}

#count {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
}

#tap-target {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.credit a {
  color: white;
}
